body{
    font-family: Arima;
    background: linear-gradient(to right, white, rgba(154, 93, 224, 0.40)); /* Dégradé de blanc à violet avec opacité */
}
header{
    background-color: #8ff5f5 !important;
}
footer{
    background-color: #8ff5f5;
}
.navbar{
    height: 100px;
}
.navbar-brand img{
    width: 75px;
    height: 75px;
    margin-right: 16px;
}
.navbar-nav .nav-link{
    color:#000000 ;/*couleur des liens*/
    font-size: 1.2em;
}
.navbar-nav .nav-link:hover{
    color:#ff00ff; /*couleur au survol*/
}
.navbar-collapse{
    background-color: rgb(143, 245, 245, 0.50);
}
.btn-custom{
    background-color: #ff00ff; /*couleur du bouton*/
    color: #f9ecec;
    font-size: 1.2em;
}
.btn-custom i{
line-height: 1.2em !important;
vertical-align: bottom;
}
.bi::before{
    line-height: 1.2em !important;
}
.btn-custom:hover{
    background-color: #e65de6;
}

.container{
    max-width: 1140px;
    background-color:#a7daf5 ;
}
/*style pour le titre*/
.title{
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
}
/*style pour le texte*/
p{
    color: #000000;
    line-height: 1.6;
    margin: 8px;
    padding: 10px;
}
.card-custom {
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s;
    width: 200px !important;
}

.card-custom img {
    object-fit: cover; /* Assure que l'image garde son ratio */
}

.card-custom h3 {
    margin: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.card-custom:hover {
    transform: scale(1.05);
}

/* @media (max-width: 425px) {
    .card-custom {
        flex: 0 1 100%; 
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .card-custom {
        flex: 0 1 45%; 
    }
}

@media (min-width: 769px) and (max-width: 1440px) {
    .card-custom {
        flex: 0 1 30%; 
    }
}

@media (min-width: 1441px) {
    .card-custom {
        flex: 0 1 200px; 
    }
}
 */
h4{
    width: 100%;
}
.card-text{
    margin: 10px;
}
